/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {

    margin: 0;
    padding: 0 30px 0 30px;
}

main {
    padding: 15px 15px 0 15px;
}

header {

    display: flex;
    margin-bottom: 30px;

    text-align: center;
}

/*LOGO*/
.logo img {
    width: 61px;
    height: 19px;

    margin-top: 30px;
    justify-content: center;
    

}

/*BARRE DE NAVIGATION*/
nav {
    margin-left: auto;
    flex-direction: row;
    width: 344px;
    height: 33px;

}

nav ul {
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    list-style-type: none;
    text-align: center;
    border-top: 2px solid white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;

}

nav li:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
    list-style-type: none;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;

}

nav a {
    text-decoration: none;
    margin: 0 35px;
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

/*TITRES*/
.info-Recherche {

    line-height: 26px;
    margin-bottom: 15px;
}

.titre-paragraphe h1 {
    font-size: 19px;
    margin-left: 30px;
}


/*BARRE DE RECHERCHE*/
.recherche-barre {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;

}

.icon {
    background-color: #F2F2F2;
    padding: 10px 17px;
    border-radius: 10px 0 0 10px;
}

.recherche-barre .icon .fa-location-dot {
    color: black;
}


.contener input {
    border: none;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    padding: 14px 20px;
    font-size: initial;
    font-weight: 700;


}

.button_text {
    background-color: #3D65FC;
    color: white;
    font-weight: 700;
    font-size: initial;
    border: none;
    border-radius: 0 15px 15px 0;
    padding: 15px 25px;
}

.button_icon_search_form {
    background-color: #0065FC;
    border: none;
    border-radius: 0 15px 15px 0;
    display: none;
    padding: 15px;
}

.fa-magnifying-glass {
    display: none;
}

.button {
    display: none;
}

/**BARRE DE FILTRES**/

.filterbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 21px;
    width: 759px;
    text-align: center;
    padding: 18px;
    margin: initial;

}

.filtres {
    display: flex;
    align-items: baseline;
    margin-top: 20px;
}

.filtres h2 {
    line-height: 18px;
    border: 0px;
    border-radius: 0%;
    align-items: center;
    justify-content: center;

    margin-top: 35px;
}

.filterbar i {
    width: 12px;
    height: 27px;
    border-radius: 100px;
    color: #0065FC;
    align-items: center;
    justify-content: center;
    margin: 21px;
    padding: 19px;
    text-align: center;
    margin-top: 30px;
    margin-right: -5px;
    margin-left: -18px;
    font-size: 20px;
}

.filterbar div {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid #d9d9d9;
    border-radius: 50px;
    font-weight: bold;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    height: 50px;
    padding: inherit;

}

.filterbar div:hover {
    color: #0065FC;

}

.information {
    display: flex;
    align-items: center;

}

.fa-info {
    color: #0065FC;
    border-radius: 100px;
    border: solid #d9d9d9;
    margin-right: 8px;
    padding: 7px 11px 7px 11px;
    font-size: 14px;
}


.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}



/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;


}

.hebergements-populaires {
    display: flex;
    flex-direction: row;
    gap: 40px;

}

.hebergements {
    display: flex;
    flex-direction: column;
    width: 62%;
    border-radius: 15px;
    background-color: #F2F2F2;
    padding: 12px;
}

.hebergements-titre {
    padding: 7px 0 10px 15px;
    ;
}

.hebergements-carte img {

    width: 100%;
    height: 125px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.hebergements-carte {
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    width: 28%;
    margin-bottom: 20px;

}

.carte h3 {
    display: flex;
    align-items: flex-start;
    margin-left: 12px;
    margin: 10px;
}

.carte p {
    display: flex;
    align-items: flex-start;
    margin-left: 12px;
}

.stars {

    align-items: flex-start;
    font-size: 16px;
    margin-left: 12px;
    text-align: initial;
}

.neutralStar {
    color: var(--main-bg-color)
}

.hebergements-carte .carte .stars .neutralStar {
    font-size: 16px;
    display: contents;
}

.hebergements h3 {
    display: flex;
    flex: auto;
    margin-left: 15px;
}

.plus {
    margin-left: 30px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 30px;


}


.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 40%;
    height: 165px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {

    margin-bottom: 5px;
}



/*****ACTIVITES A MARSEILLE*******/

.activités-ma {
    margin: 30px 40px;
    padding-top: inherit;

}

.activity {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.cartes-activités {

    display: flex;
    flex-direction: column;
    width: 23%;
}

.activités-ma img {
    width: 100%;
    height: 390px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.activités-ma h3 {
    border-radius: 0px 0px 20px 20px;
    box-shadow: 2px 2px 8px #e2e2e2;
    
    background-color: white;
    white-space: nowrap;
    margin: unset;
    padding: 20px 19px 20px 19px;
    font-size: 16px;
    text-overflow: initial;

}

.activités {

    margin-bottom: 35px;
}




/*****FOOTER******/

footer {
    display: flex;
    justify-content: space-between;


    background-color: #F2F2F2;
    margin-top: 70px;
    padding: 10px;


}


.footlist {
    padding-left: 20px;
    padding-right: 200px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    main {
        padding: 0;
        padding-top: 1px;
    }

    .filtres {
        flex-direction: column;
    }

    .filterbar {
        display: flex;
        padding-left: inherit;
    }

    .filterbar div {
        width: 22%;
    }

    .hebergements-populaires {
        flex-direction: column;
        width: 97%;
    }

    .hebergements-and-populaires {
        gap: 15px;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 97%;
        margin-top: 20px;
        padding: 22px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 220px;
        margin-top: 22px;
        height: 115px;
    }

    .populaires-cards img {
        height: 115px;
        width: 32%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activités-ma h3 {
        white-space: inherit;
        height: 10%;
    }

    .activités-ma {
        width: 93%;
    }



    .footlist {
        padding-right: 65px;
    }

    .activités-ma img {
        width: 100%;
        height: 200px;
    }


}


/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    /* ... */


    body {
        width: 100%;
        padding: 0;
    }




    header {
        display: block;
    }

    
    
    .nav-list {

        text-align: center;
        padding-bottom: 16px;
        margin-top: 30PX;
    }


    nav {
        width: 100%;
    }

    nav li {
        width: 50%;
        border-bottom: 2px #F2F2F2 solid;
        padding: 16px;
    }

    nav li:hover {
        border-top: none;
        border-bottom: 2px solid #0065FC;
        padding-bottom: 16px;
    }

    .nav a {
        margin: 0;
    }

    .info-Recherche {
        padding-left: 20px;
    }

    .filterbar div {
        width: 160px;
        height: 50px;
    }

    .populaires {
        order: -1;
        padding: 30px 20px;
        width: 375px;
        height: 570px;
        border-radius: 0;
        width: 350px;
    }


    .populaires-cards {
        flex-direction: column;
    }

    .populaires-cards .card {
        width: 100%;
    }

    .hebergements-titre {
        padding: 0;
    }


    .hebergements-carte img {
        height: 150px;
        width: 100%;
        object-fit: cover;
    }

    .hebergements-carte {
        box-shadow: 2px 2px 8px #e2e2e2;
        width: 105%;
    }

    .main-container {
        flex-direction: column;

    }

    .hebergements-populaires {
        display: flex;


    }


    .activity {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }



    .activités-ma img {
        object-fit: cover;
    }

    .activités-ma {
        margin: 30px;
    }

    .filtres {
        display: flex;
        flex-direction: column;
    }

    .filterbar {
        display: flex;
        flex-direction: column;
        display: grid;
        grid-template-columns: 150px 150px;
        padding: inherit;
    }

    .hebergements {
        width: 97%;
        background: none;
    }



    .cartes-activités {
        width: 95%;
    }


    .button_text {
        display: none;
    }

    .fa-magnifying-glass {
        background-color: #0065fc;
        display: flex;
        border: none;
        align-items: center;
        color: white;
        border-radius: 15px 15px 15px 15px;
        padding: 15px;
        position: relative;
        left: -17px;

    }

    .hebergements h3 {
        margin-top: auto;
    }

    Footer {
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}